src/*.exe
src/niccoin
src/niccoind
src/test_niccoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.niccoin

# Compilation and Qt preprocessor part
*.qm
Makefile
niccoin-qt
niccoin-Qt.app

# Unit-tests
Makefile.test
niccoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
